"*.db"
"bin"
"AutoZip/bin"
"AutoZip/obj"
"AppendContentToCosole/bin"
"AppendContentToCosole/obj"



/packages
/AutoZip/obj/Debug
/CPlus/HelloWorld/x64/Debug/HelloWorld.tlog
/CreateChm/obj/x86/Debug
/CPlus/HelloWorld/x64/Debug
/AutoZip/bin/Debug
/AppendContentToCosole/obj/Debug
/FileAssociation/obj/Debug
/HelloWorld/obj/Debug
/FolderWatcher/obj/Debug
/InvokerHelperDemo/obj/Debug
/LogHelper/obj/Debug
/ZeroMQ/MQTest/obj/Debug
/ThreadSync/obj/Debug
/ShowNotifyMode/obj/Debug
/AutoZip.VC.db
/AutoZip.VC.VC.opendb
