*.db
*.cache
*.exe
*.exe.config
*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.xml
*.VC.opendb
*.VC.db

/.vs
/bin
/AutoZip/obj
/AutoZip/bin

/CPlus/HelloWorld/x64
/CPlus/HelloWorld/Debug
/CPlus/HelloWorld/bin
/CPlus/UnitTestProject/bin
/CPlus/UnitTestProject/obj
/CPlus/x64

/CreateChm/bin
/CreateChm/obj
/FileAssociation/bin
/FileAssociation/obj
/FolderWatcher/bin
/FolderWatcher/obj

/HelloWorld/bin
/HelloWorld/obj

/InjectDemo/InjectDemo/Debug
/InjectDemo/InjectDemo/Release
/InjectDemo/NativeDll/Debug
/InjectDemo/NativeDll/Release

/packages

/Service/WebService/bin
/Service/WebService/obj
/Service/WinSerivce/bin
/Service/WinSerivce/obj

/ThreadSync/bin
/ThreadSync/obj
