*.db
*.cache
*.exe
*.exe.config
*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.xml
*.VC.opendb
*.VC.db

/.vs
/bin
/AutoZip/obj
/AutoZip/bin

/CPlus/HelloWorld/x64
/CPlus/HelloWorld/Debug
/CPlus/HelloWorld/bin
/CPlus/UnitTestProject/bin
/CPlus/UnitTestProject/obj
/CPlus/x64

/CreateChm/bin
/CreateChm/obj
/FileAssociation/bin
/FileAssociation/obj
/FolderWatcher/bin
/FolderWatcher/obj

/HelloWorld/bin
/HelloWorld/obj

/InjectDemo/InjectDemo/Debug
/InjectDemo/InjectDemo/Release
/InjectDemo/ManagedDll/obj
/InjectDemo/NativeDll/Debug
/InjectDemo/NativeDll/Release
/MEF/MEFConsole/bin
/MEF/MEFConsole/obj
/MEF/MEFContract/bin
/MEF/MEFContract/obj
/MEF/MEFSimple/bin
/MEF/MEFSimple/obj

/packages

/Service/WinSerive/bin
/Service/WinSerive/obj
/Service/WebService/bin
/Service/WebService/obj

/ShowNotifyMode/bin
/ShowNotifyMode/obj
/ThreadSync/bin
/ThreadSync/obj
