<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到 
  主机的 app.config 文件中。System.Configuration 不支持库的配置文件。-->
  <system.serviceModel>
    <services>
      
      <service name="IclLibrary.CLA">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:11223/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- 除非完全限定，否则地址将与上面提供的基址相关 -->
        <!--basicHttpBinding不提供双工通信-->
        
        <endpoint address="request-reply" binding="wsHttpBinding" contract="Icl.IServiceA">
          <!-- 
              部署时，应删除或替换下列标识元素，以反映
             用来运行所部署服务的标识。删除之后，WCF 将
              自动推断相应标识。
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        
        <!-- Metadata Endpoints -->
        <!-- 元数据交换终结点供相应的服务用于向客户端做自我介绍。 -->
        <!-- 此终结点不使用安全绑定，应在部署前确保其安全或将其删除-->
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
        
      </service>

      <!--<service name="IclLibrary.CLB">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:11224/" />
          </baseAddresses>
        </host>
         --><!--Service Endpoints 
         除非完全限定，否则地址将与上面提供的基址相关 
        basicHttpBinding不提供双工通信--><!--
        <endpoint address="duplex" binding="wsDualHttpBinding" contract="Icl.IServiceB">
           
              --><!--部署时，应删除或替换下列标识元素，以反映
             用来运行所部署服务的标识。删除之后，WCF 将
              自动推断相应标识。--><!--
          
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
         --><!--Metadata Endpoints 
         元数据交换终结点供相应的服务用于向客户端做自我介绍。 
         此终结点不使用安全绑定，应在部署前确保其安全或将其删除--><!--
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>-->
      
      <service name="IclLibrary.CLC" behaviorConfiguration="havior1">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:11225/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- 除非完全限定，否则地址将与上面提供的基址相关 -->
        <!--basicHttpBinding不提供双工通信-->
        <endpoint address="one-way" binding="wsHttpBinding" contract="Icl.IServiceC">
          <!-- 
              部署时，应删除或替换下列标识元素，以反映
             用来运行所部署服务的标识。删除之后，WCF 将
              自动推断相应标识。
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- 元数据交换终结点供相应的服务用于向客户端做自我介绍。 -->
        <!-- 此终结点不使用安全绑定，应在部署前确保其安全或将其删除-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

    </services>
    
    <behaviors>
      <serviceBehaviors>
        
        <behavior name="havior1">
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!--设置路由元素-->
          <!--<routing filterTableName="routingTable1"/>-->
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
            以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        
      </serviceBehaviors>
    </behaviors>

    <client>
      <endpoint address="http://localhost:8989" binding="wsHttpBinding" contract="*" name="n1"></endpoint>
      <endpoint address="http://localhost:8988" binding="wsHttpBinding" contract="*" name="n2"></endpoint>

    </client>
    <routing>
      
      <!--<filters>
        <filter name="MatchAllFilter1" filterType="MatchAll"/>        
      </filters>
      
      <filterTables>
        <filterTable name="routingTable1">
          <add filterName="MatchAllFilter1" endpointName="" backupList="failOver1"/>
        </filterTable>
      </filterTables>-->
      
      <!--<backupLists>
        <backupList name="failOver1">
          <add endpointName=""/>
        </backupList>
      </backupLists>-->
    </routing>
  </system.serviceModel>

</configuration>