<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="本地nuget源" value="http://localhost:8080/nuget/" />
    <add key="nuget_mirror" value="http://172.18.44.43:8081/nexus/service/local/nuget/Nuget_Mirror/" />
    <add key="nuget_hosted" value="http://172.18.44.43:8081/nexus/service/local/nuget/Nuget_Hosted_Symbols/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>